.footer {
  /* margin-top: 120px; */
  border-top: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-5));
  /* background-color: var(--mantine-primary-color-9); */
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: var(--mantine-spacing-xs);
  padding-bottom: var(--mantine-spacing-xs);

  @media (max-width: $mantine-breakpoint-xs) {
    /* flex-direction: column; */
  }
}

.links {
  @media (max-width: $mantine-breakpoint-xs) {
    margin-top: var(--mantine-spacing-md);
  }
}